<div class="example-button-row">
  <button 
     mat-raised-button color="primary"
     [routerLink]="'/bookform'">
     Add book
  </button>
</div>
<p *ngIf="!(books$ | async)">loading books...</p>
<mat-accordion >
    <mat-expansion-panel *ngFor = "let book of books$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      by {{book.author}} 
        <button mat-raised-button 
                color="primary"
                (click) = deleteBook(book.id)>
          Delete
        </button> 
        <button 
        mat-raised-button color="primary"
        [routerLink]="'/bookform/'+book.id">
          Edit
        </button>        
    </mat-expansion-panel>
  </mat-accordion>

