<mat-accordion>
    <mat-expansion-panel *ngFor =  "let post of posts$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
        body:{{post.body}} 
      <button 
      mat-raised-button color="primary"
      (click)= deletePost(post.id)>
      Delete
    </button> 
    <mat-panel-description>    
        <button mat-button (click)="addlike(post.id,post.like)">Like {{like}}</button> 
    </mat-panel-description>
          </mat-expansion-panel>
  </mat-accordion>
