<div class="example-button-row">
    <button 
       mat-raised-button color="primary"
       [routerLink]="'/list'">
       Saved post
    </button>
  </div>

<mat-accordion>
   <mat-expansion-panel *ngFor = "let post of Posts$">
       <mat-expansion-panel-header>
           <mat-panel-title>
              {{post.id}}.  {{post.title}}
           </mat-panel-title>
           <mat-panel-description>
             
           </mat-panel-description>
       </mat-expansion-panel-header> 
      
       <a>body: </a>{{post.body}} 
       <p>comments: </p>
       <div *ngFor="let comment of comments$">
          <div *ngIf = "comment.postId == post.id;other"><br> {{comment.body}}</div>
       </div> 
       <div>
         <button mat-raised-button color="primary" (click)="addPost(post.title,post.body,post.id)">save</button>
     </div>
     <h4 *ngIf = "post.id == postId">{{message}}</h4> 
   </mat-expansion-panel>
</mat-accordion>

